:root {
  --accent-color:#2196F3;
  --primary-text-color:#212121;
  --secondary-text-color: #757575;
  --primary-background-color:#FFFFFF;
  --secondary-background-color:#F5F4FA;
  --transition-duration-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-menu, .social-list__link, .title-visual-foto__overlay, .advantages-items__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: transparent;
  text-align: center;
}

.current {
  color: var(--accent-color);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.content-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.content-section.about-section {
  padding-top: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  align-content: center;
  border: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .open-mobile-menu-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}

.hero-section-container {
  text-align: center;
}

.head-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.fons-hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-foto.jpg);
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.modal-open-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-duration-func);
}
.modal-open-btn:hover, .modal-open-btn:focus {
  background-color: #188CE8;
}

.advantages-items {
  display: flex;
  gap: 30px;
}

.advantages-items__list {
  flex-basis: calc((100% - 90px) / 4);
  align-items: center;
  justify-content: center;
}

.advantages-items__icon {
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  height: 120px;
}

.item-list {
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.title-visual-foto {
  display: flex;
  gap: 30px;
}

.title-visual-foto__list {
  flex-basis: calc((100% - 60px) / 3);
}

.title-visual-foto__about {
  position: relative;
}

.title-visual-foto__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-background-color);
  font-weight: 700;
  text-transform: uppercase;
  padding: 27px;
  padding-bottom: 27px;
}

.team-list {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  gap: 30px;
}

.employees {
  flex-basis: calc((100% - 90px) / 4);
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.job-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.icon-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.discription-icons {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.client {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-list {
  flex-basis: calc((100% - 150px) / 6);
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color var(--transition-duration-func);
}
.client-list-link:hover, .client-list-link:focus {
  border-color: rgb(33, 150, 243);
}

.client-logo {
  fill: #AFB1B8;
  transition: fill var(--transition-duration-func);
}
.client-list-link:hover .client-logo, .client-list-link:focus .client-logo {
  fill: var(--accent-color);
}

.footer-contact__adress {
  line-height: 1.7;
  color: var(--primary-background-color);
}

.footer-contact__mail,
.footer-contact__phone-number {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration-func);
}

.footer-contact__phone-number:hover,
.footer-contact__phone-number:focus,
.footer-contact__mail:hover,
.footer-contact__mail:focus {
  color: var(--accent-color);
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.title-dark-theme {
  color: var(--primary-background-color);
}

.footer-join-section {
  margin-left: 70px;
}

.section-footer {
  background-color: #2F303A;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-submit-section {
  margin-left: auto;
}

.submit-form {
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: var(--primary-background-color);
}
.submit-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.submit-form:focus {
  outline: none;
  border-color: var(--accent-color);
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: box-shadow var(--transition-duration-func), background-color var(--transition-duration-func);
}
.submit-btn:hover, .submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188CE8;
}

.submit-icon {
  margin-left: 10px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.menu-icon {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--primary-background-color);
}

.menu-icon-link {
  display: block;
  transition: box-shadow var(--transition-duration-func);
}
.menu-icon-link:hover, .menu-icon-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.about-icon {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.icon-link-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  padding: 63px 24px;
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform var(--transition-duration-func);
}
.menu-icon-link:hover .overlay, .menu-icon-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
  }
  .mobile-menu__cls-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    line-height: 0;
  }
  .mobile-menu__cls-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__cls-btn:hover,
.mobile-menu__cls-btn:focus .mobile-menu__cls-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo--site-nav {
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__color {
  color: var(--accent-color);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__second-footer {
  color: var(--primary-background-color);
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    column-gap: 50px;
  }
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-duration-func);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .nav-list__link--current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-duration-func);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: space-around;
  }
  .contacts__list:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill var(--transition-duration-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-duration-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__social-list__icon_fill_white {
  fill: var(--primary-background-color);
}

.social-list__social-list__link_backgroud_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list {
  justify-content: flex-start;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title-items {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility var(--transition-duration-func), opacity var(--transition-duration-func), transform 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0, 75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--accent-color);
}

.modal-close-btn:hover,
.modal-close-btn:focus .modal-cl-btn {
  fill: var(--accent-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field-area {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-duration-func);
}
.modal-field-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-wrapper {
  position: relative;
  display: block;
}

.modal-field-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration-func);
}
.modal-field-input:focus + .modal-field-input-icon {
  fill: var(--accent-color);
}

.modal-message-form {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-duration-func);
}
.modal-message-form:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-message-form::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 7px;
}
.modal-form-checkbox:checked + .modal-checkbox-icon {
  background-color: var(--accent-color);
  border: none;
}
.modal-form-checkbox:focus + .modal-checkbox-icon {
  box-shadow: 0 0 0 2px rgb(33, 150, 243);
}

.icon-checkbox {
  display: none;
  fill: var(--primary-background-color);
}
.modal-form-checkbox:checked + .modal-checkbox-icon .icon-checkbox {
  display: block;
}

.modal-form-checkbox {
  position: absolute;
  appearance: none;
}

.modal-checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-submit-btn {
  padding: 10px 52px;
  min-width: 200px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration-func);
}
.modal-submit-btn:hover, .modal-submit-btn:focus {
  background-color: #188CE8;
}

.checkbox-text-agree {
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
  text-decoration: underline;
}
.agreement:hover {
  text-decoration: none;
}

.btn-menu {
  margin-bottom: 50px;
}

.press-btn-menu {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  transition: box-shadow var(--transition-duration-func), background-color var(--transition-duration-func), color var(--transition-duration-func);
}
.press-btn-menu:hover, .press-btn-menu:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn:not(:last-child) {
  margin-right: 8px;
}/*# sourceMappingURL=main.css.map */