@media screen and (max-width: 767px) {
.footer-content {
        display: block;
        text-align: center;
    }

    .footer-join-section {
        margin-top: 60px;
    }

    .footer-submit-section {
        margin-top: 60px;
    }
    
}

@media screen and (min-width: 768px){
    .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            row-gap: 60px;
          
        }

                .footer-adress-tablet {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                 }

        .footer-submit-section {
            display: flex;
            flex-direction: column;
            align-items: center;
           width: 100%;
        }

        .footer-join-section-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .footer-submit-form {
                display: flex;
                flex-direction: column;
                align-items: center;
               
            } 
}

@media screen and (min-width: 1200px) {
    .footer-content {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;

    }

        .footer-submit-section {
            margin-left: auto;
        }
        .footer-join-section {
            display: block;
            margin-left: 70px;
        }

        .footer-adress-tablet {
            text-align: start;
        }
        
    .footer-submit-form {
        display: block;
        margin-left: auto;
    }    
}


.footer-contact__adress {
    line-height: 1.7;
    color: var(--primary-background-color)
}

.footer-contact__mail,
.footer-contact__phone-number {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration-func);
}

.footer-contact__phone-number:hover,
.footer-contact__phone-number:focus,
.footer-contact__mail:hover,
.footer-contact__mail:focus {
    color: var(--accent-color);
}

.footer-contact:not(:last-child) {
    margin-bottom: 9px;
}

.title-dark-theme {
    color: var(--primary-background-color);
}

.section-footer {
    background-color: $bgcolorFooter;
}

.submit-form {
    min-width: 358px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $bgcolorFooter;
    color: var(--primary-background-color);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        }

   &:focus {
        outline: none;
        border-color: var(--accent-color);
        }

@media screen and (max-width: 767px) {
    width: 100%;
}
@media screen  and (min-width:768px) {
    max-width: 100%;
}
    
}

.submit-btn {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
margin-top: 20px;
    padding: 10px 28px;
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    transition: box-shadow var(--transition-duration-func),
        background-color var(--transition-duration-func);

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: #188CE8;
            }

@media screen and (min-width: 1200px) {
    margin-left: 12px;
}

}

.submit-icon {
    margin-left: 10px;
}