.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    align-content: center;
    border: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


