.contacts {
    display: flex;
    justify-content: space-around;
}

.contacts__list:not(:last-child) {
    margin-right: 30px;
}

.contacts__link {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--transition-duration-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    fill: currentColor;
}