@media screen and (max-width: 767px) {
.mobile-menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
width: 100%;
    
}
.contacts-link-phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}
.contacts-link-mail {
   font-weight: 500;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
}
@media screen and (min-width: 768px) {
.contacts__list:not(:last-child) {
        margin-bottom: 10px;
    }

    .contacts__link {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);

        transition: color var(--transition-duration-func);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .contacts__icon {
        fill: currentColor;
    }
}

@media screen and (min-width: 1200px) {
.contacts {
        display: flex;
        justify-content: space-around;
    }
.contacts__list:not(:last-child) {
    margin-right: 30px;
}
        .contacts__link {
            column-gap: 10px;
        }
}
