@media screen and (max-width:767px) {
    .btn-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 15px;
        margin-bottom: 40px;

}
}

.btn-menu {
    @extend %display;

    @media screen and (min-width: 768px){
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
}
}

.press-btn-menu {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;

    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    transition: box-shadow var(--transition-duration-func),
        background-color var(--transition-duration-func),
        color var(--transition-duration-func);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-background-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}

.menu-btn:not(:last-child) {
    margin-right: 8px;
}

