.title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
        
            font-size: 36px;
    }
}

.title-items {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

}

@media screen and (max-width: 767px) {
    .advantages-items__title {
        margin-bottom: 10px;
        text-align:  center;
    }
}