    .content-section {
        padding-top: 60px;
        padding-bottom: 60px;

        @media screen and (min-width: 1200px){
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }

    .content-section.about-section {
        padding-top: 0;
    }

.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}